<!--<div class="nav">-->
  <!--<div class="nav-header">-->
    <!--<div class="nav-title"></div>-->
  <!--</div>-->
  <!--<div class="nav-btn">-->
  <!--</div>     <a routerLink="">Home</a>-->

  <!--<div class="nav-links">-->
    <!--<a routerLink="accessories">ACCESSORIES</a>-->
    <!--<a routerLink="stridaLT">STRiDA LT</a>-->
    <!--<a routerLink="stridaEVO">STRiDA EVO</a>-->
    <!--<a routerLink="vision">VISION</a>-->
    <!--<a routerLink="contact">CONTACT</a>-->
  <!--</div>-->
<!--</div>-->


<nav class="navbar">
 <a routerLink="" class="logo">Strida AB</a>
  <a routerLink="accessories">ACCESSORIES</a>
  <a routerLink="stridaLT">STRiDA LT</a>
  <a routerLink="stridaEVO">STRiDA EVO</a>
  <a routerLink="vision">VISION</a>
  <a routerLink="contact">CONTACT</a>
</nav>

<!--const routes: Routes = [-->
<!--{path: '', component: NavComponent},-->
<!--{path: 'contact', component: ContactComponent},-->
<!--{path: 'vision', component: FooterComponent},-->
<!--{path: 'about', component: AboutComponent},-->
<!--{path: 'stridaLT', component: StridaLTComponent},-->
<!--{path: 'stridaEVO', component: StridaEvoComponent},-->
<!--{path: 'accessories', component: AccessoriesComponent},-->
<!--];-->
