<section id="section-a" class="grid">
  <div class="content-wrap">
    <h2 class="content-title">STRIDA: FOLDABLE SINCE 1984 &reg;</h2>
    <div class="content-text">
      <p>User friendly, easily wheeled while it’s folded.
        You can PUSH it! Opens and folds in less than 10 seconds without any tool.
        Clean, grease free (belt drive). No oily chain or gears. Your trousers stay pristine.
        Real cool appearance (The only folding bike in the industry that doesn’t make you look like a “granola type” )
      </p>
    </div>
  </div>
</section>
